@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/HP.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

a {
    text-decoration: none;
    color: white;
}

/* Title */
.heading {
    font-family: 'Metal Mania', cursive;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 6px;
    width: 70%;
}

/* Questions CSS */
.question-area {
    width: 70%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.question-area span {
    padding-left: 5px;
}

/* Users name area and username input */
#user-name-area {
    width: 70%;
    height: 400px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-name {
    width: 70%;
    font-size: 3rem;
    margin-left: 5px;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.0);
    color: white;
    cursor: pointer;
}

/* Answer Buttons Area and Answers. */
#answer-area {
    width: 100%;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#answer-buttons {
    width: 80%;
    margin-bottom: 10px;
}

/* Start and Next Button area */
.start-next-area {
    width: 70%;
    text-align: center;
}

/* Score CSS */
.score {
    width: 70%;
    text-align: center;
    font-size: 1.5rem;
}

/* Final score */
#final-score {
    width: 70%;
    height: 400px;
    font-size: 3rem;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Contacts CSS */
.contacts-area {
    width: 70%;
    text-align: center;
    margin: 5px;
}

.contacts-area li {
    list-style: none;
    display: inline;
    font-size: 2rem;
    padding: 2px;
}

/* BUTTONS */

/* Answer Buttons */
.btn {
    width: 60%;
    height: 100px;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    text-align: left;
    margin: 5px;
    padding-left: 2%;
    border-radius: 5px;
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.0);
    color: white;
    transition: all 1s;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn:active,
.btn:hover:not([disabled]) {
    font-size: 2rem;
    border: 3.5px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    transition: all 1s;
}

/* Start Button */
#start-btn {
    text-align: center;
    width: 120px;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    transition: 1s;
    margin: auto;
}

#start-btn:active,
#start-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid white;
    transition: all 1s;
    cursor: pointer;
}

#start-btn:focus {
    outline: none;
}

/* Next Button */
#next-btn {
    display: none;
    text-align: center;
    width: 120px;
    letter-spacing: 1.2px;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, .1);
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    transition: 1s;
    margin: auto;
}

#next-btn:active,
#next-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid white;
    transition: all 1s;
    cursor: pointer;
}

#next-btn:focus {
    outline: none;
}

/* Media Queries */

@media screen and (max-width: 1000px) {

    /* Image change */
    body {
        background-image: url(../images/hogwarts.webp);
        background-position: center center;
    }

    .heading {
        font-size: 3rem;
        letter-spacing: 4px;
        width: 100%;
    }

    .question-area {
        width: 100%;
        font-size: 1rem;
    }

    #user-name-area {
        width: 100%;
        height: 400px;
        font-size: 2rem;
    }

    #user-name {
        width: 70%;
        font-size: 2rem;
        margin-left: 5px;
        padding-left: 10px;
    }

    #final-score {
        width: 100%;
        font-size: 2rem;
    }

    .contacts-area {
        width: 100%;
        text-align: center;
        margin: 5px;
    }

    .start-next-area {
        width: 100%;
    }

    .score {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
    }

    .btn {
        width: 100%;
        font-size: 1rem;
    }

    .btn:hover {
        font-size: 1.3rem;
    }
}