@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/HP.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

a {
    text-decoration: none;
    color: white;
}

/* Title */
.heading {
    font-family: 'Metal Mania', cursive;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 6px;
    width: 70%;
}

/* Questions CSS */
.question-area {
    width: 70%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.question-area span {
    padding-left: 5px;
}

/* Users name area and username input */
#user-name-area {
    width: 70%;
    height: 400px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-name {
    font-size: 3rem;
    margin-left: 5px;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.0);
    color: white;
    cursor: pointer;
}

/* Answer Buttons Area and Answers. */
#answer-area {
    width: 100%;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#answer-buttons {
    width: 80%;
    margin-bottom: 10px;
}

/* Start and Next Button area */
.start-next {
    width: 70%;
    text-align: center;
}